{% extends 'base.html' %}
{% load static %}

{%block perfil%}
<!-- MENU INICIO FZER ELE DE BASE -->

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="{% url 'paginas' paginas.id %}">flashs</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="{{foto_perfil}}" alt="User picture" />
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <!-- -esta dinamico-->
                        <strong>
                            <a href="{% url 'paginas' paginas.id %}" style="text-decoration: none; color: inherit;">

                                {{request.user.username}}
                            </a>
                        </strong>
                    </span>
                    <!-- -editar:  precisa?-->
                    <span class="user-role">{{tipo_user}}</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <!-- -editar: para outros tipos de status -->
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search..." />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>Minhas paginas</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa-solid fa-file-lines"></i>
                            <span>Flash's card's</span>

                        </a>
                        <div class="sidebar-submenu">
                            <ul>


                                <li>
                                    <a href=" {% url 'paginas' paginas.id %}">
                                        {{paginas.titulo}}
                                    </a>
                                </li>
                                {%for pgs in pg_titulos %}
                                <li>
                                    <a href="{% url 'paginas' pgs.id %}">
                                        {{pgs.titulo}}
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">

                        <a href="#">
                            <i class="fa-solid fa-file-lines"></i>
                            <span>Meus Simulados</span>

                        </a>
                        <div class="sidebar-submenu">
                            <ul>

                                {%for pg_simulados in paginas_simulados %}
                                <li>
                                    <a href="{% url 'simulado' pg_simulados.id %}">
                                        {{pg_simulados.titulo}}
                                    </a>
                                </li>
                                {% endfor %}

                            </ul>
                        </div>
                    </li>









                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="{% url 'configurar' %}">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="{% url 'logout' %}">

                <form action="{% url 'logout' %}" method="POST">{% csrf_token %}
                    <i>
                        <button type="submit" class="fa fa-power-off sair" style="
                       background-color: rgba(157, 156, 156, 0);
                        color: rgb(133, 165, 165);

                       "></button>

                    </i>
                </form>
            </a>

        </div>
        <!-- pega o ID da pagina e no javascritp faz os procedimentos para adicionar o card a pagina correta. -->

        <div id="pagina-data" data-pagina-id="{{ paginas.id }}"></div>

    </nav>
    {%endblock%}
    {% block conf %}
    <main class="page-content">


        <div style=" position: relative; left: 20%; margin: 10px;">

            <h1 style="left: 30%;"> Editar paginas de Flash's Cards </h1>
        </div>
        {%for pgs in pg_titulos %}
        {%if pgs.titulo != 'Home'%}
        <div class="mb-3">
            <label type="text" class="form-control" name="titulo_da_pagina_edit_conf" style="margin: 10px;"
                placeholder="{{pgs.titulo}}"> {{pgs.titulo}}</label>
            <button class="btn btn-secondary" type="submit" id="botao_edit_pg"
                onclick="edit_nome_pg('{{pgs.titulo}}', '{{pgs.id}}')">Editar</button>

            <button class="btn btn-danger" id="botao_edit_pg"
                onclick="delete_pg('{{pgs.id}}', '{{pgs.titulo}}')">Delete</button>
        </div>
        {%endif%}
        {%endfor%}
        <div style=" position: relative; left: 20%; margin: 10px;">
            <h1 style="left: 30%;"> Editar paginas de Simulados </h1>
        </div>
        {%for pgs in paginas_simulados %}

        <div class="mb-3">
            <label type="text" class="form-control" name="titulo_da_pagina_edit_conf" style="margin: 10px;"
                placeholder="{{pgs.titulo}}"> {{pgs.titulo}}</label>
            <button class="btn btn-secondary" type="submit" id="botao_edit_pg"
                onclick="edit_nome_pg('{{pgs.titulo}}', '{{pgs.id}}')">Editar</button>

            <button class="btn btn-danger" id="botao_edit_pg"
                onclick="delete_pg('{{pgs.id}}', '{{pgs.titulo}}')">Delete</button>
        </div>

        {%endfor%}
        <!------------ PARTE DE DELETE DA PAGINA ------------->

        <div id="modal_delete_pg" style="display: none; top: 50%;">
            <div
                style="position: absolute; justify-items: center; top: 35%; left: 40%; width: 500px; max-width: 60%; background-color: bisque; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow-y: auto;">
                <form action="{% url 'delete_pg_conf' %}" method="POST"> {% csrf_token %}
                    <input type="hidden" id="id_pagina_delete" name="id_pagina">

                    <h3>Tem certeza que deseja excluir a pagina?</h3>

                    <p>Todas as informações seram perdidas</p>
                    <button type="button" onclick="delete_pg_fechar_model()" class="btn btn-secondary">Cancelar</button>
                    <button type="submit" onclick="delete_pg_fechar_model()" class="btn btn-danger">Excluir</button>
                </form>
            </div>
        </div>

        <!------------ FIM PARTE DE DELETE DA PAGINA ------------->


        <!------------ PARTE DE EDIT TITULO DA PAGINA ------------->
        <div id="modal_edit_titulo_pg" style="display: none; top: 50%;">
            <div
                style="position: absolute; justify-items: center; top: 35%; left: 40%; width: 500px; max-width: 60%; background-color: bisque; padding: 30px; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); overflow-y: auto;">
                <form action="{% url 'edit_titulo_pag_conf' %}" method="POST"> {% csrf_token %}
                    <input type="hidden" id="id_pagina_edit" name="id_pagina">
                    <h4>Alterar nome da pagina:</h4>
                    <input style="margin: 10px;" type="text" placeholder="" name="titulo_pagina" id="titulo_pagina">

                    <button type="button" onclick="fecha_modal_edit_pg()" class="btn btn-warning">Cancelar</button>
                    <button type="submit" onclick="fecha_modal_edit_pg()" class="btn btn-success">Alterar</button>
                </form>
            </div>
        </div>
        <!------------FIM PARTE DE EDIT TITULO DA PAGINA ------------->


    </main>
    {% endblock %}
    {% block script %}
    <script src="{% static 'js/script.js'%}"></script>
    {%endblock%}