{%extends 'base.html' %}
{% load static %}

{% block perfil %}
<!-- MENU INICIO FZER ELE DE BASE -->

<div class="page-wrapper chiller-theme toggled">
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">flashs</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="https://frontendfreecode.com/img/user.jpg"
                        alt="User picture" />
                </div>
                <div class="user-info">
                    <span class="user-name">
                        <!-- -editar: dinamico-->
                        <strong>{{request.user.username}}</strong>
                    </span>
                    <!-- -editar:  precisa?-->
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <!-- -editar: para outros tipos de status -->
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
            <div class="sidebar-search">
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control search-menu" placeholder="Search..." />
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-tachometer-alt"></i>
                            <span>Paginas</span>
                            <span class="badge badge-pill badge-warning">novo</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <button class="add-page" onclick="adicionarPagina2()">+</button>
                                </li>
                                <!--
                                    aqui tem que ser os url's das paginas que o user criou
                                <li>
                                    <a href="#">
                                        Paginas
                                            adicionar mais paginas aqui
                                            <span class="badge badge-pill badge-success">Pro</span>
                                        </a>
                                    </li>
                                -->
                               
                               
                                <li>
                                    <!--adicionar mais paginas aqui-->
                                </li>

                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-book"></i>
                            <span>Grupo</span>
                            <span class="badge badge-pill badge-danger">1</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">MATEMATICA </a>
                                </li>
                                <li>
                                    <a href="#">Portugues <i class="fa-solid fa-trash"></i></a>
                                    
                                </li>
                                <li>
                                    <a href="#">Biologia</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="far fa-gem"></i>
                            <span>Components</span>
                        </a>
                        <div class="sidebar-submenu">
                            <ul>
                                <li>
                                    <a href="#">General</a>
                                </li>
                                <li>
                                    <a href="#">Panels</a>
                                </li>
                                <li>
                                    <a href="#">Tables</a>
                                </li>
                                <li>
                                    <a href="#">Icons</a>
                                </li>
                                <li>
                                    <a href="#">Forms</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="header-menu">
                        <span>Extra</span>
                    </li>


                    <li>
                        <a href="#">
                            <i class="fa fa-folder"></i>
                            <span>Examples</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="{% url 'logout' %}">

                <form action="" method="POST">{% csrf_token %}
                    <i>
                        <button type="submit" class="fa fa-power-off sair" style="
                       background-color: rgba(157, 156, 156, 0);
                        color: rgb(133, 165, 165);

                       "></button>

                    </i>
                </form>
            </a>

        </div>
    </nav>

    {% endblock %}

    {% block cards %}
    <!-- ADICIONA CARD  -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <div class="add-flashcard-con">
            <!--//caso eu queria limitar o uso do usuario remover este botão-->
            <button id="add-flashcard"> + </button>
        </div>

        <!--questao e resposta-->

        <div id="card-con">
            <div class="card-list-container"></div>
        </div>
    </div>

    <!--input form-->
    <div class="question-container hide" id="add-question-card">
        <h2>add flahs</h2>
        <div class="wrapper">
            <!--mensagem de erro-->
            <div class="error-con">
                <span class="hide" id="error">erro ao enviar</span>
            </div>
            <!--botao fechar -->
            <i id="close-btn" class="fa-solid fa-xmark"></i>
        </div>
        <label for="question">Questão:</label>
        <textarea class="input" id="question" rows="2" placeholder="Digite aqui..."></textarea><br>
        <label for="answer">Resposta:</label>
        <textarea class="input" id="answer" name="answer" rows="4" placeholder="Digite aqui..."></textarea>
        <button id="save-btn">Salvar</button>
    </div>
    {%endblock%}

    {% block script %}
    <script src="{% static 'js/script.js'%}"></script>
    {%endblock%}